
html,body {
    margin:0;
    background-color: #59ba47;
    color: bisque;
}



#imagem-fundo {
    background: url(pexels-veeterzy-38136.jpg);
    text-align: center; 
    background-size: cover;  
}


#titulo {
    color: white;
    padding-top: 10%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 300;
    font-weight: bold;
}


#subtitulo {
    color: white;
    padding: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1x 1x black;
    border-bottom: #59ba47;
}

p{
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}


.banner-ods {
  background-color: #59ba47;
  padding: 10px;
  text-align: center;
  color: bisque;

}

.banner-onu {
  background-color:#0086cd;
  padding: 10px;
  color: bisque;
  text-align: center;

}

#video{ 
color: white;
text-align: center;
align-tracks: center;
padding: 5%; 
background: url(pexels-veeterzy-38136.jpg);}


footer { background-color: #59ba47;
    text-align: center;
    padding-top: 10px;


}


h3 { color: beige;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

